.dropdown
{
    display: flex;
    flex-direction: row;
    justify-content: left;
    width: 80%;
}

.container
{
    width:65%;
    display: flex;
    margin-bottom: 10px;
}

.selectDrop
{
    width:500px;
    margin-right: 10px;
}